@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply font-sans py-2 px-4 rounded;
  }

  .delbtn {
    @apply absolute right-3 font-sans rounded;
  }
  
  .checkbox {
    @apply ml-4;
  }

  .task {
    @apply text-black font-sans ml-2.5 mt-0.5 mb-0.5;
  }
  
  .completed {
    @apply line-through;
  }

}

.App {
  width: 100;
  height: 100;
}

body{
  background-color: #a4a3c8;
  color: white;
  font-family: 'permanent marker';
  min-height: 100vh;
}

.title {
  padding-top: 10px;
}

.appContainer {
  width: 550px;
  height: 550px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.taskContainer {
  margin: 10px 0;
  padding-top: 4px;
  padding-bottom: 4px;
  filter: drop-shadow(1px 1px 2px grey);
  background-color: #ffffff;
  border-radius: 25px;
  cursor: pointer;
}

.centerSVG {
  display: block;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: top;
}

.taskflex {
  display: flex;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
